* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(53, 51, 133), rgb(69, 68, 153));
    background-size: 500% 100%;
    animation: animaDegrade 5s infinite alternate;
}

@keyframes animaDegrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

